* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stickers {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 50px;
}
#green:hover {
    transition: 2s;
    transform: scale(1.5) rotate(-45deg);
}


.blue {
    background-color: blue;
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 100px;

}